<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="display">
        <div class="wrapper">
                <nav>
                    <a class="{% block btn1 %}{% endblock %}" href="javascript:void()">Home</a>
                    <a class="{% block btn2 %}{% endblock %}" href="javascript:void()">Data</a>
                    <a class="{% block btn3 %}{% endblock %}" href="javascript:void()">About</a>
                </nav>

                <main>
                    
                </main>

                <footer>
                    © AT PROJECT Limited, 2023
                    <div class="left">GNU GPL3 rev. at-press_140620231126</div>
                </footer>
        </div>
    </div>
</body>
</html>